<div class="row">
  <div class="col-md-9 col-md-offest-2 new-channel-col">
    <div class="new-channel">
      <center>
        <h1 class="page-header channel-header">
          Channel For: <%= link_to @team.name %>
        </h1>
      </center>
      <%= form_for(@channel, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <%= f.hidden_field :team_id, value: @team.id %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :name %>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", placeholder: "Channel Name", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control", placeholder: "Channel Description", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 new-team-btn">
            <%= f.button :submit, class: "btn btn-success btn-md" %>
          </div>
        </div>

        <center>
          <div class="col-xs-4 col-xs-offset-4 cancel">
            [ <%= link_to "Cancel Request", team_path(@team) %> ]
          </div>
        </center>
      <% end %>
    </div>
  </div>
</div>
