<div class="row">
  <div class="col-md-9 col-md-offset-2 teams-col">
    <div class="teams-container">
      <div class="teams-list">
        <center>
          <h1 class="page-header teams">My Teams</h1>
        </center>
        <!-- <%= link_to "New Team", new_team_path %>
        <%= link_to "Team Directory", team_directory_path %> -->

        <% @teams.each do |team| %>
            <h2 class="my-teams-link"><%= link_to team.name, team_path(team) %></h2>
            <p><%= team.description %></p>
            <p class="user-count"><%= pluralize(team.users.count, 'User') %></p>
            <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
