<div class="row">
  <div class="col-md-9 channels-col">
    <div class="channel-container">
      <div class="channel-list">
        <!-- <%= link_to 'All Teams', teams_path %> -->

        <center>
          <h1 class="team-name"><%= @team.name %></h1>
          <p class="team-desc"><%= @team.description %></p><hr>
        </center>
        <%= link_to "Create Channel", new_channel_path(@team.id) %>
        <h3>Channels:</h3>

        <% @channels.each do |channel| %>
          <table style="width: 100%;">
            <tr>
              <thead>
                <h2 class="channels-name"><%= link_to channel.name, channel_path(channel.id) %></h2>
              </thead>
            </tr>
            <tbody>
              <tr>
                <th>Description</th>
                <th>Users</th>
              </tr>
              <tr>
                <td><%= channel.description %></td>
                <td><%= pluralize(channel.users.count, 'User') %></td>
              </tr>
            </tbody>
          </table><hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
