<!-- <header class="main">
  <h1><%= link_to "Slack Clone" %></h1>
  <nav>
    <%= link_to "Sign Up", register_path %>
    <%= link_to "Login", login_path %>
  </nav>
</header> -->
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <div class="page-header">
      <h2><%= link_to "Slack Clone" %></h2>
    </div>
    <li><%= link_to "Login", login_path, method: :delete %></li>
    <li><%= link_to "Sign Up", register_path %></li>
  </ul>
</div>
