  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <div class="page-header">
        <h2><%= link_to "Slack Clone" %></h2>
      </div>
      <li><h4>Hi <%= @current_user.first_name %>!</h4></li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <li><%= link_to "My Teams", teams_path %></li>
      <li><%= link_to "Team Directory", team_directory_path %></li>
    </ul>
  </div>
